.img-fluid{
  height: auto;
  border-radius: 5px;
  margin-top: 3em;
}

#title-about{
  justify-content:center;
  margin-top: 3em;
  font-family: 'Roboto', sans-serif;

}

#text-about{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
}




































// .about-image{
//   background-image: url(aboutusimg.jpeg);
//   height: 100vh;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   position: relative;
// }

// .abouttext{
//   max-width: 100%;
//   height: 600px;
//   display:flex;
//   position: relative;
//   padding-left: 400px;
//   padding-right: 400px;
//   display: flex;
//   flex-direction: column;
//   text-align: center;
// }

// .abouttext p{
//   font-size: 20px;
//   padding-top: 70px;
// }

// .abouttext h1{
//   padding-top: 100px;
// }
