#about-title {
  font-family: "Roboto", sans-serif;
  margin: 24px auto;
}

#text-about {
  justify-content: center;
  background-color: white;
  padding: 24px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 24px auto;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  max-width: none;
  object-fit: cover;
  object-position: center;
}

.carousel-prod,
.carousel-inner-prod {
  height: 1000px;
  width: 100%;
}

// .about-image{
//   background-image: url(aboutusimg.jpeg);
//   height: 100vh;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   position: relative;
// }

// .abouttext{
//   max-width: 100%;
//   height: 600px;
//   display:flex;
//   position: relative;
//   padding-left: 400px;
//   padding-right: 400px;
//   display: flex;
//   flex-direction: column;
//   text-align: center;
// }

// .abouttext p{
//   font-size: 20px;
//   padding-top: 70px;
// }

// .abouttext h1{
//   padding-top: 100px;
// }
