#map{
  height: 500px;
  width: 100%;
  border-radius: 5px;
}


.marker {
  background-image: url('olive-oil.png');
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}


.contact{
  justify-content:center;
  background-color: white;
  padding: 24px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin: 24px auto;
}



