#map{
  margin-top: 50px;
  height: 500px;
  width: 100%;
  border-radius: 5px;
}

.mapb{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url('olive-oil.png');
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}


.contact{
  height: 300px;
  widows: 100%;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;

}



