.carousel,
.carousel-inner {
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 25px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
  max-width: 100%;
}

.carousel-indicators li {
  background-color: #222;
}
