.carousel {
  margin-top: 50px;
}
.carousel,
.carousel-inner {
  height: 750px;
  width: 100%;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  max-width: none;
  object-fit: cover;
  object-position: center;
}

.carousel-indicators li {
  background-color: #222;
}
