#product-title {
  font-family: "Roboto", sans-serif;
  margin: 24px auto;
}

#text-product {
  justify-content: center;
  background-color: white;
  padding: 24px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 24px auto;
  z-index: -1;
}

.certificate {
  width: 100%;
  display: none;
  z-index: 100;
  position: relative;
}

.xsign {
  width: 50px;
  position: absolute;
  width: 25px;
  top: 20px;
  right: 50px;
  z-index: 110;
  display: none;
}

.xsign:hover {
  cursor: pointer;
}

// .backgroundprod{

//   background: url("BotiliaRadino1.jpeg");
//   height: 100vh;
//   width: 100%;
//   background-size: cover;
// }

// .abouttextprod{
//   padding-right: 400px;
//   padding-left: 400px;
//   text-align: center;
// }
