#title-product{
  justify-content:center;
  margin-top: 15px;
}


#text-product{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}








































// .backgroundprod{


//   background: url("BotiliaRadino1.jpeg");
//   height: 100vh;
//   width: 100%;
//   background-size: cover;
// }


// .abouttextprod{
//   padding-right: 400px;
//   padding-left: 400px;
//   text-align: center;
// }


