<div class="container">

  <div class="row flex" id="product-pictures" class="img-fluid" alt="Responsive image"></div>

<div class="row">

<div class="prices">
  <h4>0.75L - 10€ &emsp;</h4>
  
  <h4>3L - 33€ &emsp;</h4>

  <h4>5L - 55€</h4>

</div>

</div>


  



  <div class="row flex" id="text-product">
<%# edw vazeis price %>
    <h2 id="product-title"></h2>
    <p id="product-description"> </p>
    
    <button id='button' class="btn btn-outline-dark">Bio Certificate </button>
    <button id='analysis_button' class="btn btn-outline-dark">Acidity Analysis </button>


  </div>

    <div class="row">
    <div class="col-12">
      <%= image_tag 'cross-sign.png', class:"xsign" %>
      <%= image_tag 'Certificate-page-003.jpg', class:"certificate container-fluid"  %>
      <%= image_tag 'acidity_analysis.jpg', class:"analysis container-fluid"  %>
    </div>
  </div>

</div>


<%=  content_for :javascript do %>


<script>



var url = new URL(window.location.href)
var locale = localStorage.getItem("locale") || "en-US";

var pictureHtml = ''
var myPictures = document.querySelector('#product-pictures')
var myTitle = document.querySelector('#product-title')
var myDescription = document.querySelector('#product-description')

window.client.getEntry('59oeYVF5nPUIiHvHodbfS', {locale: locale}).then((data) => {
  console.log(data);
  
  var myProduct = {
        pictures: data.fields.pictures,
        title: data.fields.title,
        description: data.fields.description
    }


    //  Pictures
    myProduct.pictures.forEach((entry) => {
        pictureHtml += buildPicture(entry.fields);
        myPictures.innerHTML = pictureHtml;
    })

    // TITLE
    myTitle.innerText = myProduct.title

    // Description
    myDescription.innerHTML = myProduct.description.content.map((text) =>
        documentToHtmlString(text).replace(/\n/g, `</br>`));

});





var buildPicture = (data) => {
    return `<div class="col text-center">
    <img src="https://${data.picture.fields.file.url}"class="img-fluid" alt="Responsive image">
    <h5>${data.title}</h5>

    <div class="d-flex justify-content-center"">
    <h5>${data.price}€</h5> 
    <h5> &emsp; </h5>
    <h5>${data.priceMedium}€</h5>
    <h5> &emsp;</h5>
    <h5>${data.priceBig}€</h5>
    </div>

  </div>`
}


</script>


<script> 
const button = document.getElementById('button');
const analysis_btn = document.getElementById('analysis_button');
const certificate = document.querySelector('.certificate');
const analysis = document.querySelector('.analysis')
const x = document.querySelector('.xsign');

console.log(button, certificate, x,analysis);


button.addEventListener('click', function (event){
  certificate.style.display = 'block';
  x.style.display = 'block';
});

analysis_button.addEventListener('click', function (event){
  analysis.style.display = 'block';
  x.style.display = 'block';
});


x.addEventListener('click', function(event){
  certificate.style.display = 'none';
  analysis.style.display = 'none';
  x.style.display = 'none';
  
});




</script>

<% end  %>
































<!-- <div class="backgroundprod"></div>

<div class="abouttextprod">

  <h1> Our Oil </h1>

  <p>
    The specific structure of the volcanic soil and the quality of our organic olives confer to the cold pressed extra virgin oil produced by Azienda Agricola Dora Radino an intense green-tinged golden colour and a slightly bitter, spicy taste, with a touch of fruity sThweetness and a hint of almonds.
    These tasting features, enhanced by our oil’s excellent anti-oxidant qualities, combine to produce a harmonious full-bodied oil that perfectly matches the simple dishes of everyday cuisine. Olive oil consists primarily of unsaturated vegetable fats (triacylglycerols) and other secondary ingredients such as vitamin E, squalene and b-carotene.
    All these substances, which are the basis of the Mediterranean diet, have antioxidant properties and are beneficial to health only if the level of free fatty acid content (acidity) is very low.

    Current European Union legislation requires extra virgin olive oil (the best quality) to have an acidity level of no more than 0.8%.
    The special know-how handed down by farming traditions in Basilicata and rigorous techniques for harvesting and processing the olives mean that we can obtain an extra virgin olive oil with an acidity level well below the legal limit (our organic oil never exceeds an acidity level of 0.3 %) and a minimal peroxide content. We produce high-quality oil because:
    We use exclusively olives from our own olive trees.

  </p>
</div> -->
