#footer {
  // background-color:rgb(248,249,250);
  background-color:rgb(52,58,64);
  height: 50px;
  align-items: center;
  justify-content: center;

}

.pfooter {
  font-size: 0.9em;
  // color: #222;
  color: rgb(248,249,250);
}


