<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Olio Radino</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contanct</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">English</a>
          <a class="dropdown-item" href="#">French</a>
          <a class="dropdown-item" href="#">German</a>
        </div>
      </li>
    </ul>
  </div>
</nav>







































<!-- <nav>
  <div class="row fluid">

    <div class="col-4">
      <div class="logo">
        <h1>Dora Radino</h1>
      </div>
    </div>

    <div class="col-8">


      <ul class="nav-links">
        <li>
          <%#= link_to "Home", root_path, method: :get %>
        </li>
        <li>
          <%#= link_to "About", about_path, method: :get%>
        </li>
        <li>
         <%#= link_to "Products", products_path, method: :get%>
        </li>
        <li>
          <%#= link_to "Contact", contact_path, method: :get%>
        </li>
        <li>
          <a href="#">Language</a>
        </li>

      </ul>

      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>

    </div>

  </div>
</nav>
 -->

<!-- method: :get is for loading the parallax images after clicking on the links
 -->
